/* style sheet for drawing tool */

select option {
   border: 1px solid #ccc;
}
/* ------------------ */
#drawingToolDiv button {
   margin: 0;
   margin-right: 3px;
   padding: 0;
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
   float: left;
}
/* ------------------ */
#drawingToolDiv {
   margin: 0;
   padding: 0;
   width: 105px;
   height: 130px;
   background: #ccc;
}
/* ------------------ */
#lineControlContainer {
   margin: 0;
   padding: 0;
   height: 30px;
   border: none; 
   background: #ddd;
}
/* ------------------ */
#lineControlImgDiv {
   float: left;
   position: relative;
   top: 2px;
   margin: 0;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
}
/* ------------------ */
#lineSelectDiv {
   float: right;
   position: relative;
   top: 2px;
   margin: 0;
   padding: 0;
   border: none; 
}
/* ------------------ */
#undoRedoContainer {
   position: relative;
   margin: 0 auto;
   padding: 0;
   height: 30px;
   border: none; 
   background: #ddd;
}
/* ------------------ */
#undoButton {
   float: left;
   position: relative;
   top: 2px;
   margin: 0 0 0 10px;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
}
/* ------------------ */
#redoButton {
   float: left;
   position: relative;
   top: 2px;
   margin: 0 0 0 4px;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
}
/* ------------------ */
#clearButton {
   float: left;
   position: relative;
   top: 2px;
   margin: 0 0 0 4px;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
   border-top: 1px solid #fff;
   border-left: 1px solid #fff;
   border-bottom: 1px solid #000;
   border-right: 1px solid #000;
}
/* ------------------ */
#redoButton.down {
   background: #ddd;
   border-left: solid 1px #555;
   border-top: solid 1px #555;
   border-right: solid 1px #555;
   border-bottom: solid 1px #555;
}
#undoButton.down {
   background: #ddd;
   border-left: solid 1px #555;
   border-top: solid 1px #555;
   border-right: solid 1px #555;
   border-bottom: solid 1px #555;
}
#clearButton.down {
   background: #ddd;
   border-left: solid 1px #555;
   border-top: solid 1px #555;
   border-right: solid 1px #555;
   border-bottom: solid 1px #555;
}
/* ------------------ */
#drawingToolContainer {
   margin: 0;
   padding: 0;
   height: 30px;
   border: none; 
   background: #ddd;
}
/* ------------------ */
#drawRadioLabel {
   float: left;
   position: relative;
   top: 2px;
   margin: 0;
   padding: 0 0 0 4px;
   height: 28px;
   border: none; 
   background: #ddd;
}
/* ------------------ */
#drawRadio {
   position: relative;
   top: 2px;
   margin: 0 0 0 4px;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
}
/* ------------------ */
#eraseRadioLabel {
   float: left;
   position: relative;
   top: 2px;
   margin: 0;
   padding: 0 4px 0 4px;
   height: 28px;
   border: none; 
   background: #ddd;
}
/* ------------------ */
#eraseRadio {
   position: relative;
   top: 2px;
   margin: 0 0 0 4px;
   padding: 0;
   width: 24px;
   height: 24px;
   border: none; 
}

/* end style sheet for drawing tool */
