/* common style for help & info iFrames */

.wlzIIPViewerIFrameContainer {
   position: absolute;
   visibility: hidden;
   border: ridge 4px #555;
   margin: 0px;
   padding: 0px;
   color: #222;
   background: #ffd;
   z-index: 1000;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   opacity: 0.8;
}
.wlzIIPViewerIFrameContainer.mainHelp {
   width: 947px;
   height: 600px;
   top: 100px;
   right: 200px;
}
.wlzIIPViewerIFrameContainer.modelInfo {
   width: 450px;
   height: 415px;
   top: 100px;
   left: 200px;
}
.wlzIIPViewerIFrameContainer.titleInfo {
   width: 450px;
   height: 250px;
   top: 43px;
   left: 550px;
}
.wlzIIPViewerIFrameContainer.titleInfo.kaufman {
   width: 450px;
   height: 285px;
}
.wlzIIPViewerIFrameContainer.x3domHelp {
   width: 700px;
   height: 440px;
   top: 70px;
   left: 170px;
}
.wlzIIPViewerIFrameContainer.kaufman {
   width: 947px;
   height: 600px;
   top: 65px;
   right: 330px;
   opacity: 1.0;
}

.wlzIIPViewerIFrameTopDiv {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   margin: 0px;
   padding: 0px;
}

#wlzIIPViewerTitleIFrameBottomDiv {
   position: relative;
   bottom: 0px;
   left: 0px;
   width: 100%;
   margin: 0px;
   padding: 0px;
   background: #fffafa;
   font-size: 11px;
   background: #ffffdd;
   color: #555;
}

.wlzIIPViewerIFrameCloseDiv {
   position: absolute;
   top: 3px;
   right: 4px;
   padding: 0px;
   margin: 0px;
   border: outset 1px #555;
   height: 10px;
   width: 11px;
}
.wlzIIPViewerIFrameCloseDiv.over {
   background: #ddd;
}
.wlzIIPViewerIFrameCloseDiv.out {
   background: #eee;
}
.wlzIIPViewerIFrameCloseDiV.down {
   background: #ddd;
   border-left: solid 1px #555;
   border-top: solid 1px #555;
   border-right: solid 1px #555;
   border-bottom: solid 1px #555;
}

.markerPopupIFrameContainer {
   position: absolute;
   top: 100px;
   right: 200px;
   border: ridge 4px #555;
   width: 350px;
   height: 240px;
   top: 100px;
   left: 550px;
   margin: 0px;
   padding: 0px;
   color: #222;
   background: #ffeeff;
   z-index: 1000;
   visibility: hidden;
   overflow: hidden;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   opacity: 0.8;
}
.markerPopupIFrameTopDiv {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   margin: 0px;
   padding: 0px;
   background: #eef;
}
.markerPopupIFrameTopDiv h4 {
   margin: 0px;
   padding: 0px;
}


img.iframeClose {
   padding: 0px;
   margin: 0px;
   position: absolute;
   top: 1px;
   left: 1px;
}

.wlzIIPViewerIFrameHeaderDiv {
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 20px;
   margin: 0px;
   padding: 0px;
}

.wlzIIPViewerIFrame {
   position: relative;
   overflow: hidden;
   top: 0px;
   left: 0px;
   visibility: hidden;
   margin: 0px;
   padding: 0px;
   border: none;
   z-index: 1000;
}
.wlzIIPViewerIFrame.mainHelp {
   width: 945px;
   height: 559px;
}
.wlzIIPViewerIFrame.kaufman {
   width: 945px;
   height: 559px;
}
.wlzIIPViewerIFrame.modelInfo {
   width: 100%;
   height: 89%;
}
.wlzIIPViewerIFrame.titleInfo {
   width: 100%;
   height: 84%;
   overflow: auto;
}
.wlzIIPViewerIFrame.x3domHelp {
   width: 720px;
   height: 540px;
   overflow: auto;
}

h3.help {
   font-size: 14px;
   font-weight: bold;
   padding: 0px;
   margin: 0px;
}

h4.help {
   font-size: 12px;
   font-style: normal;
   padding: 0px;
   margin: 6px 0 2px;
}

h5.help {
   font-size: 10px;
   font-style: normal;
   padding: 0px;
   margin: 0px;
}

h6.help {
   font-size: 10px;
   font-style: normal;
   padding: 0px;
   margin: 0px;
   color: #33c;
}

#dragtest {
   position: relative;
   left: -400px;
   top: 100px;
   width: 100px;
   height: 100px;
   padding: 0px;
   margin: 0px;
   border: solid 1px #0f0;
   visibility: visible;
   background: #af6;
}

#dragText {
   position: relative;
   left: 0px;
   top: 0px;
   bottom: 50px;
   width: 100%;
   height: 20px;
   padding: 0px;
   margin: 0px;
   border: solid 1px #0f0;
   visibility: visible;
   background: #fa6;
}
